<div class="sidebar">
    <ul>
      <li><a routerLink="/cadastro-equipamentos" routerLinkActive="active">
        <div class="menu-item">Cadastro de Equipamentos</div>
      </a></li>
      <li><a routerLink="/consulta-relatorios" routerLinkActive="active">
        <div class="menu-item">Consulta de Relatórios</div>
      </a></li>
      <li><a routerLink="/testes-individuais" routerLinkActive="active">
        <div class="menu-item">Testes Individuais</div>
      </a></li>
      <li><a routerLink="/executar-tracert" routerLinkActive="active">
        <div class="menu-item">Executar Tracert</div>
      </a></li>
      <li><a routerLink="/aprovar-solicitacao-acesso" routerLinkActive="active">
        <div class="menu-item">Aprovar Solicitação de Acesso</div>
      </a></li>
      <li><a routerLink="/criar-novo-usuario" routerLinkActive="active">
        <div class="menu-item">Criar Novo Usuário</div>
      </a></li>
    </ul>
  </div>
  